{% extends "exampletwig/base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}
    {{ parent() }} - Info
{% endblock %}
{% block container %}
    <h3>Help function</h3>
    <p>If you need help with a HTML-tag, use "parent::&lt;HTML-tag&gt;('!help!');" inside your
        code.</p><p>Keep in mind that this will abort the output and only display the information about the tag.</p><p>
    You
    can also use: "$this->&lt;HTML-tag&gt;(...);</p>
{% endblock %}